body {
  margin: 0 auto;
  font-family: "Cubano";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Cubano";
  src: url("font/cubano.woff");
  src: url("font/cubano.eot") format("embedded-opentype"),
    url("font/cubano.eot"), url("font/cubano.ttf") format("truetype"),
    url("font/cubano.woff") format("woff");
}
#mainFlexWrapper {
  display: grid;
  justify-content: center;
}
#logoW {
  display: grid;
  margin: 0 auto;
}
#logoWrapper {
  margin: 0 auto;
}
#iii {
  transform: scale(0.7);
  padding-top: 11rem;
  position: absolute;
}
#headerMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 99;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 100%;
  background: #333;
}
#headerMenu > grid-item {
  cursor: pointer;
}
#daytons {
  position: relative;
  font-size: 5rem;
}
#best {
  position: relative;
  padding-bottom: 12rem;
  font-size: 9rem;
}
#footerMenu {
  padding: 0;
  margin: 0;
  z-index: 99;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  background: #333;
}
#iceCreams {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
#cartBody {
  z-index: 100;
}
#cartModal {
  width: 40%;
  margin: 0 auto;
}
#cartItem {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#iceCreamGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat();
  cursor: pointer;
}

#about {
  margin: 0 auto;
}
#aboutCircle {
  border-radius: 50%;
  background: #eee;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutImage {
  height: 12rem;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.aboutDisplay {
  margin: 0 auto;
  width: 35vw;
  border: 1px solid #ccc;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
  align-items: center;
  height: 20rem;
  background: #fff;
  animation: op 1s 1;
}
#aboutMenuGrid {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#aboutMenuGrid > grid-item {
  cursor: pointer;
}

#aboutDisplayGrid {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#orderWrapper {
  height: 1rem;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
#orderLine {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 0 auto;
}
#orderImage {
  margin: 0 auto;
  display: grid;
  align-self: center;
  width: 60%;
  position: relative;
  top: -0.1rem;
}
#orderCircle {
  position: relative;
  top: -2rem;
  display: grid;
  align-self: center;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  background: #fff;
  border-radius: 50%;
  border: 1px #ccc solid;
}
@keyframes op {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 960px) {
  #cartModal {
    width: 95%;
    margin: 0 auto;
  }
  #iceCreamGrid {
    grid-template-columns: 1fr 1fr;
  }
  .aboutDisplay {
    width: 95vw;
  }
  #aboutImage {
    width: 95%;
  }
}
