body {
  margin: 0 auto;
  font-family: "Cubano";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Cubano";
  src: url("font/cubano.woff");
  src: url("font/cubano.eot") format("embedded-opentype"),
    url("font/cubano.eot"), url("font/cubano.ttf") format("truetype"),
    url("font/cubano.woff") format("woff");
}
#mainFlexWrapper {
  display: grid;
  justify-content: center;
}
#logoW {
  padding-bottom: 4rem;
  display: grid;
  margin: 0 auto;
}
#logoBG {
  margin-top: -5rem;
  width: 100%;
  background: #eee;
  height: 25rem;
  position: absolute;
  animation: animatedBackground 20s infinite linear;
  -webkit-animation: animatedBackground 20s infinite linear;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
#labelTop {
  color: #f2d68b;
  animation: colorchangeTop 10s infinite;
  -webkit-animation: colorchangeTop 10s infinite; /* Chrome and Safari */
}

@keyframes colorchangeTop {
  0% {
    color: #f2d68b;
  }
  20% {
    color: #f2d68b;
  }
  25% {
    color: #3b3246;
  }
  45% {
    color: #3b3246;
  }
  50% {
    color: #f56464;
  }
  70% {
    color: #f56464;
  }
  75% {
    color: #8bf2d3;
  }
  95% {
    color: #8bf2d3;
  }
  100% {
    color: #f2d68b;
  }
}

@-webkit-keyframes colorchangeTop /* Safari and Chrome - necessary duplicate */ {
  0% {
    color: #f2d68b;
  }
  20% {
    color: #f2d68b;
  }
  25% {
    color: #222;
  }
  45% {
    color: #222;
  }
  50% {
    color: #414141;
  }
  70% {
    color: #414141;
  }
  75% {
    color: #8bf2d3;
  }
  95% {
    color: #8bf2d3;
  }
  100% {
    color: #f2d68b;
  }
}

#labelBottom {
  color: #675f68;
  animation: colorchangeBottom 10s infinite;
  -webkit-animation: colorchangeBottom 10s infinite; /* Chrome and Safari */
}

@keyframes colorchangeBottom {
  0% {
    color: #675f68;
  }
  20% {
    color: #675f68;
  }
  25% {
    color: #bb93ae;
  }
  45% {
    color: #bb93ae;
  }
  50% {
    color: #756d5c;
  }
  70% {
    color: #756d5c;
  }
  75% {
    color: #537980;
  }
  95% {
    color: #537980;
  }
  100% {
    color: #675f68;
  }
}

@-webkit-keyframes colorchangeBottom /* Safari and Chrome - necessary duplicate */ {
  0% {
    color: #675f68;
  }
  20% {
    color: #675f68;
  }
  25% {
    color: #bb93ae;
  }
  45% {
    color: #bb93ae;
  }
  50% {
    color: #756d5c;
  }
  70% {
    color: #756d5c;
  }
  75% {
    color: #537980;
  }
  95% {
    color: #537980;
  }
  100% {
    color: #675f68;
  }
}

#logoLINE {
  width: 100%;
  background: #f3c461;
  margin-top: -1rem;
  height: 0.3rem;
}
#logoWrapper {
  margin: 0 auto;
}
#iii {
  transform: scale(0.7);
  z-index: 99;
  padding-top: 11rem;
  position: absolute;
}
#headerMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  z-index: 99;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 100%;
  background: #2e2a2e;
}
#headerMenu > grid-item {
  cursor: pointer;
}
#daytons {
  position: relative;
  font-size: 5rem;
}
#best {
  position: relative;
  padding-bottom: 12rem;
  font-size: 9rem;
}
#footerW {
  width: 100%;
  position: absolute;
  height: 12rem;
  background: #2e2a2e;
  color: white;
}
#footerMenu {
  padding: 0;
  margin: 0;
  z-index: 99;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  background: #333;
}
#iceCreams {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
#cartBody {
  z-index: 100;
}
#cartModal {
  width: 40%;
  margin: 0 auto;
}
#cartItem {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#iceCreamGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat();
  cursor: pointer;
}

#about {
  margin: 0 auto;
}
#aboutCircle {
  border-radius: 50%;
  background: #eee;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboutImage {
  height: 12rem;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.aboutDisplay {
  margin: 0 auto;
  width: 35vw;
  border: 1px solid #ccc;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
  align-items: center;
  height: 20rem;
  background: #fff;
  animation: op 1s 1;
}
#aboutMenuGrid {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

#aboutMenuGrid > grid-item {
  cursor: pointer;
}

#aboutDisplayGrid {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#orderWrapper {
  height: 1rem;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
#orderLine {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 0 auto;
}
#orderImage {
  margin: 0 auto;
  display: grid;
  align-self: center;
  width: 60%;
  position: relative;
  z-index: 99;
  top: -0.1rem;
}
#orderCircle {
  position: relative;
  top: -2rem;
  display: grid;
  align-self: center;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  background: #fff;
  border-radius: 50%;
  border: 1px #ccc solid;
}
@keyframes op {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#thankYouWrap {
  text-align: center;
  margin-top: 5rem;
}
#thankYou {
  margin: 0 auto;
  width: 25%;
  border-radius: 1rem;
  border: 1px solid #ccc;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  #cartModal {
    width: 95%;
    margin: 0 auto;
  }
  #iceCreamGrid {
    grid-template-columns: 1fr 1fr;
  }
  .aboutDisplay {
    width: 95vw;
  }
  #aboutImage {
    width: 95%;
  }
  #thankYou {
    width: 95%;
  }
  #productWidth {
    width: 70%;
  }
  #orderImage {
    display: none;
  }
}
